@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.course-card-icon-container {
  width: 3rem;
}
.course-card-content {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
}
.course-card-title {
  color: #555;
  font-weight: bold;
  text-align: left;
  font-size: 1rem;
}
